body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 10px;
}

button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h2 {
  color: #f4f4f4;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  background-color: #444;
  border: 1px solid #555;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
}

button {
  background-color: #d32f2f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f44336;
}

.cart {
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 100px;
  right: 0;
  width: 250px;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  margin: 10px 0;
}

.cart #checkout {
  width: 100%;
  background-color: #4caf50;
}